---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="banner__cherry--funk"></div>
    <main>
      <h1>Lunar Bliss Repertoire</h1>
      <ul>
        <li>
          <strong>Levitating</strong>
          <span style="font-size: smaller;">(Dua Lipa)</span>
        </li>
        <li>
          <strong>Don't Stop Believin'</strong>
          <span style="font-size: smaller;">(Journey)</span>
        </li>
        <li>
          <strong>Your Love</strong>
          <span style="font-size: smaller;">(The Outfield)</span>
        </li>
        <li>
          <strong>Shallow</strong>
          <span style="font-size: smaller;">(Lady Gaga, Bradley Cooper)</span>
        </li>
        <li>
          <strong>Hello</strong>
          <span style="font-size: smaller;">(Adele)</span>
        </li>
        <li>
          <strong>Set Fire to the Rain</strong>
          <span style="font-size: smaller;">(Adele)</span>
        </li>
        <li>
          <strong>Rolling in the Deep</strong>
          <span style="font-size: smaller;">(Adele)</span>
        </li>
        <li>
          <strong>Dreams</strong>
          <span style="font-size: smaller;">(Fleetwood Mac)</span>
        </li>
        <li>
          <strong>Dreams</strong>
          <span style="font-size: smaller;">(The Cranberries)</span>
        </li>
        <li>
          <strong>Somebody That I Used To Know</strong>
          <span style="font-size: smaller;">(Gotye, Kimbra)</span>
        </li>
        <li>
          <strong>Smooth Operator</strong>
          <span style="font-size: smaller;">(Sade)</span>
        </li>
        <li>
          <strong>Empire State of Mind (Part II) Broken Down</strong>
          <span style="font-size: smaller;">(Alicia Keys)</span>
        </li>
        <li>
          <strong>Try</strong>
          <span style="font-size: smaller;">(P!nk)</span>
        </li>
        <li>
          <strong>It Must Have Been Love</strong>
          <span style="font-size: smaller;">(Roxette)</span>
        </li>
        <li>
          <strong>The One That Got Away</strong>
          <span style="font-size: smaller;">(Katy Perry)</span>
        </li>
        <li>
          <strong>Flowers</strong>
          <span style="font-size: smaller;">(Miley Cyrus)</span>
        </li>
        <li>
          <strong>Nothing Compares 2 U</strong>
          <span style="font-size: smaller;">(Sinéad O'Connor)</span>
        </li>
        <li>
          <strong>Dream On</strong>
          <span style="font-size: smaller;">(Aerosmith)</span>
        </li>
        <li>
          <strong>Lost on You</strong>
          <span style="font-size: smaller;">(LP)</span>
        </li>
        <li>
          <strong>California Dreamin'</strong>
          <span style="font-size: smaller;">(Sia)</span>
        </li>
        <li>
          <strong>Fade Into You</strong>
          <span style="font-size: smaller;">(Mazzy Star)</span>
        </li>
        <li>
          <strong>Cold Heart (PNAU Remix)</strong>
          <span style="font-size: smaller;">(Elton John, Dua Lipa, PNAU)</span>
        </li>
        <li>
          <strong>Stay With Me</strong>
          <span style="font-size: smaller;">(Sam Smith)</span>
        </li>
        <li>
          <strong>Can't Take My Eyes Off of You (Black Box Mix)</strong>
          <span style="font-size: smaller;">(Gloria Gaynor)</span>
        </li>
        <li>
          <strong>I Will Survive</strong>
          <span style="font-size: smaller;">(Gloria Gaynor)</span>
        </li>
        <li>
          <strong>Watermelon Sugar</strong>
          <span style="font-size: smaller;">(Harry Styles)</span>
        </li>
        <li>
          <strong>Locked out of Heaven</strong>
          <span style="font-size: smaller;">(Bruno Mars)</span>
        </li>
        <li>
          <strong>Treasure</strong>
          <span style="font-size: smaller;">(Bruno Mars)</span>
        </li>
        <li>
          <strong>Uptown Funk (feat. Bruno Mars)</strong>
          <span style="font-size: smaller;">(Mark Ronson, Bruno Mars)</span>
        </li>
        <li>
          <strong>Sugar</strong>
          <span style="font-size: smaller;">(Maroon 5)</span>
        </li>
        <li>
          <strong>Lady (Hear Me Tonight)</strong>
          <span style="font-size: smaller;">(Modjo)</span>
        </li>
        <li>
          <strong>I Belong To You</strong>
          <span style="font-size: smaller;">(Lenny Kravitz)</span>
        </li>
        <li>
          <strong>My Girl</strong>
          <span style="font-size: smaller;">(The Temptations)</span>
        </li>
        <li>
          <strong>Calm Down (with Selena Gomez)</strong>
          <span style="font-size: smaller;">(Rema, Selena Gomez)</span>
        </li>
        <li>
          <strong>As It Was</strong>
          <span style="font-size: smaller;">(Harry Styles)</span>
        </li>
        <li>
          <strong>Lose Yourself to Dance (feat. Pharrell Williams)</strong>
          <span style="font-size: smaller;">(Daft Punk, Pharrell Williams)</span
          >
        </li>
        <li>
          <strong>September</strong>
          <span style="font-size: smaller;">(Earth, Wind & Fire)</span>
        </li>
        <li>
          <strong>Stand By Me</strong>
          <span style="font-size: smaller;">(Ben E. King)</span>
        </li>
        <li>
          <strong>Just Give Me a Reason (feat. Nate Ruess)</strong>
          <span style="font-size: smaller;">(P!nk, Nate Ruess)</span>
        </li>
        <li>
          <strong>Just Like a Pill</strong>
          <span style="font-size: smaller;">(P!nk)</span>
        </li>
        <li>
          <strong>Can't Help Falling in Love</strong>
          <span style="font-size: smaller;">(Elvis Presley)</span>
        </li>
        <li>
          <strong>Fly Me To The Moon</strong>
          <span style="font-size: smaller;">(Frank Sinatra, Count Basie)</span>
        </li>
        <li>
          <strong>Can't Feel My Face</strong>
          <span style="font-size: smaller;">(The Weeknd)</span>
        </li>
        <li>
          <strong>Halo</strong>
          <span style="font-size: smaller;">(Beyoncé)</span>
        </li>
        <li>
          <strong>Don't Dream It's Over</strong>
          <span style="font-size: smaller;">(Lauren Daigle)</span>
        </li>
        <li>
          <strong>One</strong>
          <span style="font-size: smaller;">(Mary J. Blige, U2)</span>
        </li>
        <li>
          <strong>One Of Us</strong>
          <span style="font-size: smaller;">(Joan Osborne)</span>
        </li>
        <li>
          <strong>Ain't No Sunshine</strong>
          <span style="font-size: smaller;">(Joan Osborne)</span>
        </li>
        <li>
          <strong>The Girl From Ipanema</strong>
          <span style="font-size: smaller;">(Amy Winehouse)</span>
        </li>
        <li>
          <strong>L-O-V-E</strong>
          <span style="font-size: smaller;">(Nat King Cole)</span>
        </li>
        <li>
          <strong>Give Me One Reason</strong>
          <span style="font-size: smaller;">(Tracy Chapman)</span>
        </li>
        <li>
          <strong>Kiss Me</strong>
          <span style="font-size: smaller;">(Sixpence None The Richer)</span>
        </li>
        <li>
          <strong>Only Love Can Hurt Like This</strong>
          <span style="font-size: smaller;">(Paloma Faith)</span>
        </li>
        <li>
          <strong>Lovefool</strong>
          <span style="font-size: smaller;">(The Cardigans)</span>
        </li>
        <li>
          <strong>Mr. Brightside</strong>
          <span style="font-size: smaller;">(The Killers)</span>
        </li>
        <li>
          <strong>Read My Mind</strong>
          <span style="font-size: smaller;">(The Killers)</span>
        </li>
        <li>
          <strong>Where Is The Love?</strong>
          <span style="font-size: smaller;">(Black Eyed Peas)</span>
        </li>
        <li>
          <strong>New Light</strong>
          <span style="font-size: smaller;">(John Mayer)</span>
        </li>
        <li>
          <strong>Instant Crush</strong>
          <span style="font-size: smaller;"
            >(Daft Punk, Julian Casablancas)</span
          >
        </li>
        <li>
          <strong>Get Lucky (Radio Edit)</strong>
          <span style="font-size: smaller;"
            >(Daft Punk, Pharrell Williams, Nile Rodgers)</span
          >
        </li>
        <li>
          <strong>Sign of the Times</strong>
          <span style="font-size: smaller;">(Harry Styles)</span>
        </li>
        <li>
          <strong>Leave The Door Open</strong>
          <span style="font-size: smaller;"
            >(Bruno Mars, Anderson .Paak, Silk Sonic)</span
          >
        </li>
        <li>
          <strong>It Ain't Over 'Til It's Over</strong>
          <span style="font-size: smaller;">(Lenny Kravitz)</span>
        </li>
        <li>
          <strong>I Will Always Love You</strong>
          <span style="font-size: smaller;">(Whitney Houston)</span>
        </li>
        <li>
          <strong>I Wanna Dance with Somebody (Who Loves Me)</strong>
          <span style="font-size: smaller;">(Whitney Houston)</span>
        </li>
        <li>
          <strong>Fortunate Son</strong>
          <span style="font-size: smaller;">(Creedence Clearwater Revival)</span
          >
        </li>
        <li>
          <strong>Murder On The Dancefloor</strong>
          <span style="font-size: smaller;">(Sophie Ellis-Bextor)</span>
        </li>
        <li>
          <strong>...baby one more time</strong>
          <span style="font-size: smaller;">(The Marías)</span>
        </li>
        <li>
          <strong>Stolen Dance</strong>
          <span style="font-size: smaller;">(Milky Chance)</span>
        </li>
        <li>
          <strong>Girls Just Want to Have Fun</strong>
          <span style="font-size: smaller;">(Cyndi Lauper)</span>
        </li>
        <li>
          <strong>Take on Me</strong>
          <span style="font-size: smaller;">(a-ha)</span>
        </li>
        <li>
          <strong>Stayin Alive</strong>
          <span style="font-size: smaller;">(Bee Gees)</span>
        </li>
        <li>
          <strong>Dancing Queen</strong>
          <span style="font-size: smaller;">(ABBA)</span>
        </li>
        <li>
          <strong>Kiss Me More</strong>
          <span style="font-size: smaller;">(Doja Cat, SZA)</span>
        </li>
      </ul>
      <Footer />
    </main>
  </body>
</html>
