---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Lunar Bliss Band. All rights reserved.
	<div class="social-links">
		<a href="https://www.facebook.com/profile.php?id=61560253872998" target="_blank">
			<span class="sr-only">Follow on Facebook</span>
			<svg xmlns="http://www.w3.org/2000/svg" astro-icon="social/facebook" x="0px" y="0px" width="32" height="32" viewBox="0 0 30 30">
				<path 	fill="currentColor" d="M15,3C8.373,3,3,8.373,3,15c0,6.016,4.432,10.984,10.206,11.852V18.18h-2.969v-3.154h2.969v-2.099c0-3.475,1.693-5,4.581-5 c1.383,0,2.115,0.103,2.461,0.149v2.753h-1.97c-1.226,0-1.654,1.163-1.654,2.473v1.724h3.593L19.73,18.18h-3.106v8.697 C22.481,26.083,27,21.075,27,15C27,8.373,21.627,3,15,3z"></path>
			</svg>
		  </a>

		  <a href="https://www.instagram.com/cherryfunkcabo/" target="_blank">
			<span class="sr-only">Follow on Instagram</span>
			<svg xmlns="http://www.w3.org/2000/svg" astro-icon="social/instagram" x="0px" y="0px" width="32" height="32" viewBox="0 0 50 50">
				<path fill="currentColor" d="M 16 3 C 8.83 3 3 8.83 3 16 L 3 34 C 3 41.17 8.83 47 16 47 L 34 47 C 41.17 47 47 41.17 47 34 L 47 16 C 47 8.83 41.17 3 34 3 L 16 3 z M 37 11 C 38.1 11 39 11.9 39 13 C 39 14.1 38.1 15 37 15 C 35.9 15 35 14.1 35 13 C 35 11.9 35.9 11 37 11 z M 25 14 C 31.07 14 36 18.93 36 25 C 36 31.07 31.07 36 25 36 C 18.93 36 14 31.07 14 25 C 14 18.93 18.93 14 25 14 z M 25 16 C 20.04 16 16 20.04 16 25 C 16 29.96 20.04 34 25 34 C 29.96 34 34 29.96 34 25 C 34 20.04 29.96 16 25 16 z"></path>
			</svg>
		  </a>		  
		  <a href="https://youtu.be/3lAZtGyhVIc?si=mf0rb7RG9xrhwRBB" target="_blank">
			<span class="sr-only">Subscribe on YouTube</span>
			<svg xmlns="http://www.w3.org/2000/svg" astro-icon="social/youtube" x="0px" y="0px" width="32" height="32" viewBox="0 0 50 50">
				<path fill="currentColor" d="M 44.898438 14.5 C 44.5 12.300781 42.601563 10.699219 40.398438 10.199219 C 37.101563 9.5 31 9 24.398438 9 C 17.800781 9 11.601563 9.5 8.300781 10.199219 C 6.101563 10.699219 4.199219 12.199219 3.800781 14.5 C 3.398438 17 3 20.5 3 25 C 3 29.5 3.398438 33 3.898438 35.5 C 4.300781 37.699219 6.199219 39.300781 8.398438 39.800781 C 11.898438 40.5 17.898438 41 24.5 41 C 31.101563 41 37.101563 40.5 40.601563 39.800781 C 42.800781 39.300781 44.699219 37.800781 45.101563 35.5 C 45.5 33 46 29.398438 46.101563 25 C 45.898438 20.5 45.398438 17 44.898438 14.5 Z M 19 32 L 19 18 L 31.199219 25 Z"></path>
				</svg>
		  </a>
		  
	</div>
</footer>
<style>
	footer {
		padding: 0em 1em 2em 1em;
		background: transparent;
		color: rgb(var(--gray));
		text-align: center;
		font-size: 15px;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
